.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 90vh;
}

body {
    font-family: sans-serif;
    background-color: rgb(154, 143, 76);
    text-align: center;
}

ul {
    width: 400px;
}

ul li {
    list-style: circle;
    color: white;
    text-align: left;
}

h1 {
    color: white;
    font-weight: 900;
}

h2 {
    color: white;
    font-weight: 900;
}


button {
    color: white;
    width: 250px;
    height: 50px;
    border-radius: 50rem;
    margin-top: 25px;
    border: solid 3px #ffff;
    background-color: rgb(60, 60, 60);
    transition: all 300ms;
}

button:hover {
    background-color: rgb(255, 255, 255);
    color: black;
    transform: scale(1.1);
}

.scoreBoard {
    display: flex;
    justify-content: space-between;
    width: 50%;
}

.playScore {
    display: flex;
    flex-direction: column;
}

.botScore {
    display: flex;
    flex-direction: column;
}

#playScoreValue {
    margin-top: 0;
}

#botScoreValue {
    margin-top: 0;
}